<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">E-Diaristas Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">Username</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <em class="nav-icon fas fa-broom"></em>
            <p>
              Serviços
              <em class="fas fa-angle-left right"></em>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" asp-controller="Servico" asp-action="Create">
                <em class="nav-icon fas fa-edit nav-icon"></em>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Servico" asp-action="Index">
                <em class="fas fa-table nav-icon"></em>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <em class="nav-icon fas fa-clipboard-list"></em>
            <p>
              Diárias
              <em class="fas fa-angle-left right"></em>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" asp-controller="Diaria" asp-action="Index">
                <em class="fas fa-table nav-icon"></em>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>