@model UpdatePasswordForm

<div class="row">
  <div class="col">
    <div class="card card-primary">
      <div class="card-header">
        <div class="card-title">@ViewData["Title"]</div>
      </div>
      <div class="card-body">

        <form method="POST">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label asp-for="SenhaAntiga">Senha antiga</label>
                <input asp-for="SenhaAntiga" type="password" class="form-control">
                <span asp-validation-for="SenhaAntiga" class="text-danger"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label asp-for="NovaSenha">Senha</label>
                <input asp-for="NovaSenha" type="password" class="form-control">
                <span asp-validation-for="NovaSenha" class="text-danger"></span>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label asp-for="ConfirmacaoNovaSenha">Confirmação de senha</label>
                <input asp-for="ConfirmacaoNovaSenha" type="password" class="form-control">
                <span asp-validation-for="ConfirmacaoNovaSenha" class="text-danger"></span>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-success">Salvar</button>

        </form>
      </div>
    </div>
  </div>
</div>